<div style="min-height: 730px;">
    <div ng-hide="value != 1" class="col-3 ms-auto me-auto text-center" >
        <img src="images/bee.png" alt="" width="95%">
        <button class="btn btn-primary col-5" data-bs-target="#form_login"
        data-bs-toggle="modal"> Đăng Nhập</button>
    </div>
    <div ng-hide="value == 1" class="pt-2">
        <div class="card card col-8 offset-2 fixed-bottom">
            <span style="color:black;" id="cout"></span>
        </div>
        <div ng-repeat="qs in List_quiz" class="card col-8 offset-2 mt-2" style="color: black;">
            <div class="card-header">
                <span>Câu hỏi {{$index + 1}}: {{qs.document}}</span>
            </div>
            <div class="card-body" >
                <div class="form-check">
                    <input class="form-check-input" ng-model="lst_da[$index].da" type="radio" name="quz_{{qs.id}}" id="example{{qs.qs1}}" value="1" >
                    <label class="form-check-label" for="example{{qs.qs1}}">
                        {{qs.qs1}} 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" ng-model="lst_da[$index].da" type="radio" name="quz_{{qs.id}}" id="example{{qs.qs2}}" value="2">
                    <label class="form-check-label" for="example{{qs.qs2}}">
                        {{qs.qs2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" ng-model="lst_da[$index].da" type="radio" name="quz_{{qs.id}}" id="example{{qs.qs3}}" value="3" >
                    <label class="form-check-label" for="example{{qs.qs3}}">
                        {{qs.qs3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" ng-model="lst_da[$index].da" type="radio" name="quz_{{qs.id}}" id="example{{qs.qs4}}" value="4" >
                    <label class="form-check-label" for="example{{qs.qs4}}">
                        {{qs.qs4}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-8 offset-2 d-flex justify-content-end pt-2 pb-4">
            <button class="btn btn-primary" ng-click="submit()">Nộp bài</button>
        </div> 
    </div>
</div>